@import "../MasterStyleSheet.scss";


.parent{
    font-family: "Plus Jakarta Sans",sans-serif;
}


.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

div.login-button {
  padding: 5px;
  padding-top: 9px;
  padding-bottom: 10px;
  border: 3px solid var(--login-button-border-color);
  border-radius: 20px;
  background: #ffffff;
  font-size: 16px;
  color: var(--login-button-text-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 90px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

 

.start-free-trial-button{
  background: var(--background);
  padding-top: 6px;
  padding-bottom: 5px;
  border-radius: 18px;
  height: 35px;
  color: var(--start-free-trial-text-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 150px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.arrow-right-circle {
  background: var(--background-right-arrow-circle);
  border-radius: 50%;
  margin-left: 4px;
  color: transparent; /* Make the text color transparent */

}

