/* Overall container styling */
.login-container {
  width: 450px;

  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  //margin: auto;
  font-family: "Plus Jakarta Sans", sans-serif;

}

/* Header */
.login-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 18px;
  gap: 35px;
  padding-left: 25px;
  padding-bottom: 8px;
}

.active-underline{
  width:90px;
  height: 3px;
  background-color: var(--active-color);
  position:absolute;
  margin: 10px 0;
}

.login-header span {
  cursor: pointer;
  color: var(--text-color-black);
}

.close-button-login {
  width: 30px; /* Set a reasonable size */
  height: 30px;
  margin-left: 130px;
  cursor: pointer;
  transition: transform 0.3s; /* Add hover effect */
}

.close-button-login:hover {
  transform: scale(1.1); /* Slight zoom-in effect */
}

div.active-tab-login {
  color: #3637d4;
  font-weight: bold;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: #696969;
  margin: 10px 0;
}

/* Title */
.login-title {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: left;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 450;
  color: var(--text-color-black);
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* Input fields */


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 15px;

}



/* Gradient button */
.login-button {
  width: 320px;
  margin-right: 30px;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background: var(--background);
  margin-bottom: 20px;
  :hover{
    background: linear-gradient(to right,#565EF7 , #0108FF)

  }
}

/* Footer text */
.footer-text {
  text-align: center;
  font-size: 14px;
  color: var(--text-color-black);
}

.signup-link {
  color: var(--forgot-signup);
  font-weight: bold;
  cursor: pointer;
}

.forgot-password {
  color: var(--forgot-signup);
  margin-top: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* Container for the input group */

/* Eye icon styling */
.eye-icon {
  position: absolute;
  transform: translateY(-50%); /* Center vertically */
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 40px;
  opacity: 0.7; /* Slightly transparent for better UI */
  transition: opacity 0.3s ease;
}

.eye-icon:hover {
  opacity: 1; /* Fully visible on hover */
}
