/* Overall container styling */
.newPassword-container {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin: auto;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin-top: 100px;
    height: 400px;
  }
  
  /* Header */
  .newPassword-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 18px;
    gap: 25px;
    padding-left: 15px;
    padding-bottom: 8px;
  }
  
  .newPassword-header span {
    cursor: pointer;
    color: var(--text-color-black);
  }
  
  .close-button-newPassword {
    padding-left: 140px;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }
  
  div.active-tab-newPassword {
    color: #3637d4;
    font-weight: bold;
  }
  
  .underline {
    width: 100%;
    height: 1px;
    background-color: #696969;
    margin: 10px 0;
  }
  
  /* Title */
  .newPassword-title {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 16px;
    padding-left: 28px;
    margin-bottom: 20px;
    font-weight: 550;
    text-align: left;
    color: var(--text-color-black);
  }
  
  /* Input fields */
  .input-group {
    position: relative;
    margin-bottom: 15px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input-group input {
    width: 320px;
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
    height: 30px;
    outline: none;
    font-size: 14px;
    background-color: #f2f2f2;
  }
  
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
  }
  
  /* Gradient button */
  .newPassword-button {
    width: 345px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: var(--background);
    margin-bottom: 20px;
  }
  
  /* Footer text */
  .footer-text {
    text-align: center;
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-decoration: none !important;
    color: #3637D4;
  }
  
  .signup-link {
    color: var(--forgot-signup);
    font-weight: bold;
    cursor: pointer;
  }
  
  .forgot-password {
    color: var(--forgot-signup);
    margin-top: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .incorrect-password {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
  }
  