/* Parent container styling */
.newPasswordsuccess-container {
  width: 450px;
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  margin: auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
}

/* Header styles */
.newPasswordsuccess-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Close button styling */
.close-button-signup {
  width: 30px; /* Set a reasonable size */
  height: 30px;
  margin-left: -30px;
  cursor: pointer;
  transition: transform 0.3s; /* Add hover effect */
}

.close-button-signup:hover {
  transform: scale(1.1); /* Slight zoom-in effect */
}

/* Tick icon container */
.tick-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

/* Tick icon styling */
.tick-icon {
  width: 50px; /* Adjust size */
  height: 50px;
  margin-bottom: 10px;
}

/* Success text */
.success-text {
  font-size: 18px;
  font-weight: bold;
  color: #4caf50; /* Green color to indicate success */
}

/* Title styling */
.newPasswordsuccess-title {
  font-size: 16px;
  color: #333;
  margin: 15px 0;
}

/* Button styling */
.newPasswordsuccess-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background: #3637d4; /* Main button color */
  transition: background-color 0.3s;
}

/* Gradient button */
.newPasswordsuccess-button {
  width: 345px;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background: var(--background);
  margin-bottom: 40px;
}
