
:root{

    //normal
    --text-color-black:#000000;
    --forgot-signup:#3637D4;

    //Background
    --background-color : #000000;
    --background-right-arrow-circle : #ffffff; 

    //active items
    --active-color: #DB680C;
    


    //Buttons

    --login-button-background : #ffffff;

    --login-button-border-color : #3637D4;
    --login-button-text-color : #000000;



    --background: linear-gradient(to right, #000180, #DB680C);
    --start-free-trial-text-color : #ffffff;

}